.ant-form-item {
  .ant-form-item-explain {
    margin-top: 16px;
    font-size: 14px;
    font-weight: 400;
    color: #241b33;
  }
  .ant-input-password-icon {
    cursor: pointer;
  }
  .ant-form-item-extra {
    font-size: 12px;
    color: $black-050;
    margin-top: 8px;
  }
}
